@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Ved at sætte margin og padding til nul ved stjenen, fjerner jeg bulletpoints fra navbaren*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', monospace, sans-serif
}


h3{
    font-size:35px;
}

h4{
    font-size: 30px;
}

.tekst-beskrivelse{
    font-size: 25px;
    
}

/*Bruges næsten  til alle artikler, på nær forsiden*/

.alle-container{
    padding-right:120px;
    padding-left: 120px;
    padding-top: 50px;
  

    
}


body{
    min-height: 100vh;
    width:100%;
}



nav{ 
    width:100%;
    background-color: #F2B263;
    height:75px;
    line-height: 75px;
    padding: 0px 120px;
   
}


nav h1 {
    font-size: 32px;
    color:white;
    float: left;
    margin-right: 20px;
   
}

nav h1 .logo{
    height: 50px;
    width:auto;
    vertical-align: middle;
    transform: scaleX(-1);
}


nav h1 a{
    text-decoration: none;
    color:white;
}

nav ul{
    float:right;
}

nav ul li{
    float:left;
    list-style: none;
    position: relative;
}


nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 17px;
    padding: 0px 30px;
    display: block;
}

nav ul li a:hover{
    background-color:#86A690

}

nav ul li ul{
    position:absolute;
    display: none;
    background-color: #86A690;
    border-radius: 0px 0px 5px 5px;
}

nav ul li:hover ul{
    display:block;
}

nav ul li ul li{
    line-height:1;
    width:auto; 
    min-width:200px;
    border-radius:5px;
    padding:6px;

}

nav ul li ul li a{
    padding: 10px 16px;
}

nav ul li ul li a:hover{
    background-color:#94b9a0;
}

/*START-INTRODUKTION TIL FORSIDEN*/

.box{
    height:700px;
    width: 600px;
    margin-left: 50px;
    margin-top: 50px;
    position: relative;
    border-radius: 10px;
    overflow: hidden; 
}

.container{
  
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/*ved at bruge elementet z-index sikre jeg mig at teksten viser sig oven på containeren*/

.text {
    position: relative;
    z-index: 1; 
    color: white; 
    text-align: left; 
    padding: 50px; 
  }

h2{
    font-size: 70px;
}

.beskrivelse{
    font-size: 25px;
}

/*SLUT-INTRODUKTION TIL FORSIDEN*/

/*START - BILLEDER OG BAGGRUNDSBILLEDER*/

.bodybackground-1{
    background-image: url(./img-webp/forside-billeder/forsidens-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bodybackground-2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*SLUT- BILLEDER OG BAGGRUNDSBILLEDER*/

/*START - REDIGERINGER TIL INDHOLD AF KUNSTMATERIALER */

.container-2{
    margin-bottom:50px ;
}


.container-2-2 {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.box-2-2 {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.box-2-2 img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.udstyr-beskrivelse{
    text-align: left;
  margin: 20px;}
  

/*SlUT - REDIGERINGER TIL INDHOLD AF KUNSTMATERIALER */

/*START- REDIGERING TIL INDHOLD AF DIGITALTEGING*/

.image-to-rigt {
    float:right;
    margin-left:30px;
    margin-bottom:30px;
    
}

.farvecirkel-1{
    float:left;
    margin-right:60px;
}

.link-ipad{
    font-size:12px;

}



.programliste{
    margin-top:60px;
    margin-left:60px;
    margin-bottom:60px;
}


/*SLUT- REDIGERING TIL INDHOLD AF DIGITALTEGING*/

/*START- REDIGERING TIL INDHOLD AF ANATOMI*/

.reference-body{
    float:right;
   
}

.tekst-beskrivelse-1{
    font-size: 20px;
}

/*SLUT - REDIGERING TIL INDHOLD AF ANATOMI */

/* START - REDIGERING TIL INDHOLD AF FARVETEORI>*/



.val, .sat, .hue {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.val-des, .sat-des, .hue-des {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.val-pic, .sat-pic, .hue-pic {
    
    border-radius: 10px;
    margin-right: 20px;
    width: 400px;
    height: auto;


}


.val p, .sat p, .hue p {
    font-size: 20px;
}

.marcos-billeder{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        width: auto ;
        margin-top:20px;
        margin-bottom:20px;
}



/* Ved brug af "display blok" får marcos billede til at opføre sig som et element på blokniveau. Ved at indsætte indstillingenr til "margin-venstre: auto;" og "margin-højre: auto;" får jeg indstillet margins lige på venstre og højre side af billedet*/

/* SLUT - REDIGERING TIL INDHOLD AF FARVETEORI>*/

/* START - REDIGERING TIL INDHOLD AF SKYGGETEKNIK>*/

.bold-1, .bold-2, .bold-3, .bold-4, .bold-5, .bold-6{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}



.bold-1-des, .bold-2-des, .bold-3-des, .bold-4-des, .bold-5-des, .bold-6-des {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}



.bold-1 p, .bold-2 p, .bold-3 p, .bold-4 p, .bold-5 p, .bold-6 p {
    font-size: 20px; 
}

.bold-1-pic, .bold-2-pic, .bold-3-pic, .bold-4-pic, .bold-5-pic, .bold-6-pic {
    border-radius: 10px;
    margin-right: 20px;
    width: 600px;
    height: auto;
}

/* SLUT - REDIGERING TIL INDHOLD AF SKYGGETEKNIK>*/

/*  start - pallete*/

.pallete-container {
     display: flex;

}
.pallete-container img{
   width: auto;
    height: 600px; 
    margin-right: 20px;
    margin-top:20px;
}

.dtiys-container{

        display: flex;
   
}

.dtiys-container img{
    width: auto;
    height: 500px; 
    margin-right: 20px;
    margin-top:20px;

}

/*slut pallete*/

/*start artstle*/
.artstyle-container {
    display: flex;
    justify-content: center; /* Centrerer indholdet vandret */
    align-items: center; /* Centrerer indholdet lodret */
}

.kunstværk {
    text-align: center;
}

.kunstværk img {
    border-radius: 10px; /* Gør kanterne runde */
    margin-right: 40px;
    width: auto;
    height: 300px;
}

.kunstværk p{
   text-align: center;
   margin-right:40px;
}

.kunstværk .tekst-på-venstre{
    text-align: left;
   
 }

  /*artstyle slut*/

  /*start - yotube */


  .kunst-youtuber {
    width: 40%;
    float: left;
}
    


.sir-sam img {
    width: auto; /* Juster bredden efter behov */
    height: 200px; /* Juster højden efter behov */
    object-fit: cover; /* Sikrer, at billedet ikke strækkes, men beskæres efter behov */
}

.orange-button {
    background-color: #F2B263;
    color: white;
    padding: 10px 20px; /* Adjust padding to increase button size */
    border: none;
    border-radius: 5px; /* Add rounded corners for a nicer look */
    cursor: pointer;
    margin-top:20px;
    font-size: 20px; /* Adjust font size if needed */
}

/* Style on hover */
.orange-button:hover {
    background-color: #86A690; /* Change background color to green on hover */
}


  /*slut youtube*/
  
  