@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Ved at sætte margin og padding til nul ved stjenen, fjerner jeg bulletpoints fra navbaren*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'poppins',Helvetica, Arial, sans-serif
}

/* alle hovedoverskrifterne h3 får font-size 35px*/
h3{
    font-size:25px;
}

/* underemnerne i artiklerne får font-size 30px*/
h4{
    font-size: 30px;
    
}


/*alle artiklernes tekst i størrelse 25. Det vil være bedre hvis jeg havde  sat p med krølle-parentese til 25px i stedet at bruge class til størstedelen af mine tekster */
.tekst-beskrivelse{
    font-size: 15px;
    
}

/*Bruges næsten  til alle artikler, på nær forsiden*/

.alle-container{
    padding-right:80px;
    padding-left: 80px;
    padding-top: 50px;
    
}


body{
    min-height: 100vh;
    width:100%;
}


/*opbyggelse af min navbar*/
nav{ 
    width:100%;
    background-color: #F2B263;
    height:75px;
    line-height: 75px;
    padding: 0px 120px;
   
}

/*Justering af størrelse på h1 som er hjemmesidens navn*/

nav h1 {
    font-size: 32px;
    color:white;
    float: left;
    margin-right: 20px;
   
}

/*Størrelsen på logo billedet. Logoet spejlvendes */

nav h1 .logo{
    height: 50px;
    width:auto;
    vertical-align: middle;
    transform: scaleX(-1);}

/*hjemmesidens navn skiftes farve*/
nav h1 a{
    text-decoration: none;
    color:white;
}

/*de 5 hovemenuer flyttes på højreside*/
nav ul{
    float:right;
    display:block
}

/*li inde i en ul unordered list inden for navigationen. De flyder til venstre*/

nav ul li{
    float:left;
    list-style: none;
    position: relative;
}


/*linksene bliver hvide og understregene fjernes*/

nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 17px;
    padding: 0px 30px;
    display: block;
}

nav ul li a:hover{
    background-color: #F2B263;

}

nav ul li ul{
    position:absolute;
    display: none;
    background-color: #86A690;
    border-radius: 0px 0px 5px 5px;
}

/*istedet for at trykke på bogstaverne kan kasserne bruges*/
nav ul li:hover ul{
    display:block;
}

nav ul li ul li{
    line-height:1;
    width:auto; 
    min-width:200px;
    border-radius:5px;
    padding:6px;

}

nav ul li ul li a{
    padding: 10px 16px;
}

nav ul li ul li a:hover{
    background-color:#94b9a0;
}

/*START-INTRODUKTION TIL FORSIDEN*/

.box{
    height:500px;
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;
    position: relative;
    border-radius: 10px;
    overflow: hidden; 
}

.container{
  
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/*ved at bruge elementet z-index sikre jeg mig at teksten viser sig oven på containeren*/

.text {
    position: relative;
    z-index: 1; 
    color: rgb(255, 255, 255); 
    text-align: left; 
    padding: 50px; 
  }

h2{
    font-size: 40px;
}

.beskrivelse{
    font-size: 18px;
}

/*SLUT-INTRODUKTION TIL FORSIDEN*/

/*START - BILLEDER OG BAGGRUNDSBILLEDER*/

.bodybackground-1{
    background-image: url(./img-webp/forside-billeder/forsidens-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bodybackground-2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*SLUT- BILLEDER OG BAGGRUNDSBILLEDER*/

/*START - REDIGERINGER TIL INDHOLD AF KUNSTMATERIALER */




.container-2{
    margin-bottom:50px ;
}

/*"container-2-2" er sektionen, som indeholder  alle indholdselementer*/
.container-2-2 {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

/*".box-2-2 er beholderen for hvert materiale (f.eks. tegneblok, farveblyanter osv.) */

/*width er 25%, så det giver en række med fire bokse på tværs af skærmen.*/

.box-2-2 {
  display: inline-block;
  width: 25%;
  text-align: center;
}

/* Stylingen for billedet inde i hver boks.*/

/* Jeg havde det lidt svær med at justere billederne. Jeg satte billederne  til width og height til 80%  for tilpasse boksene */

.box-2-2 img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}



.udstyr-beskrivelse{
    text-align: left;
  margin: 20px; /*tilføjet en margin på 20px rundt om beskrivelsen for skabe plads mellem teksterne*/
}
  

/*SlUT - REDIGERINGER TIL INDHOLD AF KUNSTMATERIALER */

/*START- REDIGERING TIL INDHOLD AF DIGITALTEGING*/

.image-to-rigt {
    float:right;
    margin-left:30px;
    margin-bottom:30px;
    
}

.farvecirkel-1{
    float:left;
    margin-right:60px;
}

.link-ipad{
    font-size:12px;

}

.programliste{
    margin-top:60px;
    margin-left:60px;
    margin-bottom:60px;
}


/*SLUT- REDIGERING TIL INDHOLD AF DIGITALTEGING*/

/*START- REDIGERING TIL INDHOLD AF ANATOMI*/

.reference-body{
    float:right;
   
}

.tekst-beskrivelse-1{
    font-size: 20px;
}

/*SLUT - REDIGERING TIL INDHOLD AF ANATOMI */

/* START - REDIGERING TIL INDHOLD AF FARVETEORI>*/

/*jeg har skrevet kommentar til sammme struktur i indhold af skyggeteknik */

.val, .sat, .hue {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.val-des, .sat-des, .hue-des {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.val-pic, .sat-pic, .hue-pic {
    
    border-radius: 10px;
    margin-right: 20px;
    width: 400px;
    height: auto;


}


.val p, .sat p, .hue p {
    font-size: 20px;
}

.marcos-billeder{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        width: auto ;
        margin-top:20px;
        margin-bottom:20px;
}

/* Ved brug af "display blok" får marcos billede til at opføre sig som et element på blokniveau. Ved at indsætte indstillingenr til "margin-venstre: auto;" og "margin-højre: auto;" får jeg indstillet margins lige på venstre og højre side af billedet*/

/* SLUT - REDIGERING TIL INDHOLD AF FARVETEORI>*/

/* START - REDIGERING TIL INDHOLD AF SKYGGETEKNIK>*/

.bold-1, .bold-2, .bold-3, .bold-4, .bold-5, .bold-6{
    display: flex; /* gør containerne flexisble*/
    flex-direction: row;  /*for at gøre billedet vandret på main Axis */
    justify-content: flex-start;  /* sectionen for billedet og teksten rykkes på venstre side af hjemmesiden */
    margin-bottom: 20px;  /* der er 20px mellemrum til denne section og den næste section */
}


.bold-1-des, .bold-2-des, .bold-3-des, .bold-4-des, .bold-5-des, .bold-6-des {
    display: flex;  /* gør containerne flexisble.*/
    flex-direction: column; /* main axis bliver lodret */
    margin-left: 10px; /* billedet og teksten får et mellem på 10px*/
}


.bold-1 p, .bold-2 p, .bold-3 p, .bold-4 p, .bold-5 p, .bold-6 p {
    font-size: 20px; /* for at vælge p inden for elementet i bold-1 sectionen og gøre teksten 20 px stor*/
}

.bold-1-pic, .bold-2-pic, .bold-3-pic, .bold-4-pic, .bold-5-pic, .bold-6-pic {
    border-radius: 10px; /* denne egenskab gør at billedet for runde hjørner med 10 px*/
    margin-right: 20px; /*billedet får skubbet 20 px til højre */
    width: 400px; /*bredden for billedet sættes til 400px*/
    height: auto; /* højden af billederne justeres automatisk*/
}

/* SLUT - REDIGERING TIL INDHOLD AF SKYGGETEKNIK>*/

/*START - REDIGERING AF INDHOLD AF PALLETE OG DTIYS*/

.pallete-container {
     display: flex;

}
.pallete-container img{
   width: auto;
    height: 600px; 
    margin-right: 20px;
    margin-top:20px;
}

.dtiys-container{

        display: flex;
   
}

.dtiys-container img{
    width: auto;
    height: 500px; 
    margin-right: 20px;
    margin-top:20px;

}

/*SLUT - REDIGERING AF INDHOLD AF PALLETE OG DTIYS*/

/*START- REDIGERING AF INDHOLD AF ARTSTYLE*/
.artstyle-container {
    display: flex;
    justify-content: center; /* Centrerer indholdet vandret */
    align-items: center; /* Centrerer indholdet lodret */
}

.kunstværk {
    text-align: center;
}

.kunstværk img {
    border-radius: 10px; /* Gør kanterne runde */
    margin-right: 40px;
    width: auto;
    height: 200px;
}

.kunstværk p{
   text-align: center;
   margin-right:40px;
}

.kunstværk .tekst-på-venstre{
    text-align: left;
   
 }

  /*SLUT - REDIGERING AF INDHOLD AF ARTSTYLE*/

  /*START - REDIGERING AF INDHOLD YOUTUBE OG INSTAGRAM*/


  .kunst-youtuber {
    width: 40%;
    float: left;
}
    


.sir-sam img {
    width: auto; 
    height: 200px; 
    object-fit: cover; /* Sikrer, at billedet ikke strækkes, men beskæres efter behov */
}

.orange-button {
    background-color: #F2B263;
    color: white;
    padding: 10px 20px; /* denne funtion øger knappens størrelse */
    border: none;
    border-radius: 5px; /* tilføjer runde kanter til knappen */
    cursor: pointer;
    margin-top:20px;
    font-size: 20px; 
}

/* Style af  hover */
.orange-button:hover {
    background-color: #86A690; 
}


  /*SLUT - REDIGERING AF INDHOLD AF YOUTUBE OG INSTAGRAM*/
  
  